<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GamifyMe</title>
    <base href="/" />
    
    <!-- Polices et Styles MudBlazor -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <!-- CSS Perso -->
    <link rel_>="stylesheet" href="css/app.css" />
    <link href="GamifyMe.Web.styles.css" rel="stylesheet" />
    <link href="GamifyMe.UI.Shared.styles.css" rel="stylesheet" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.webview.js" autostart="false"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>