@using Microsoft.AspNetCore.Components.Web
@using GamifyMe.UI.Shared
@using GamifyMe.UI.Shared.Layout
@using GamifyMe.UI.Shared.Components

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <HeadOutlet @rendermode="new InteractiveAutoRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveAutoRenderMode(prerender: false)" />

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script src="js/html5-qrcode.min.js"></script>
    <script src="js/qrScanner.js"></script>

</body>

</html>